//#define APSTUDIO_READONLY_SYMBOLS
//#include "afxres.h"
//#undef APSTUDIO_READONLY_SYMBOLS

#include "windows.h"
#include "resource.h"

LANGUAGE LANG_POLISH, 1
IDI_ICON2 ICON "..\\res\\icon02.ico"

LANGUAGE LANG_POLISH, 2
IDI_ICON1 ICON "..\\res\\icon01.ico"

LANGUAGE LANG_NEUTRAL, 0
200 MENU
FIXED IMPURE LOADONCALL DISCARDABLE
BEGIN
  POPUP "View"
  BEGIN
    MENUITEM "New window",		IDM_NEW_WINDOW
    MENUITEM SEPARATOR
    MENUITEM "Normal",			IDM_NORMAL_VIEW
    MENUITEM "Compact",			IDM_COMPACT_VIEW
    MENUITEM SEPARATOR
    MENUITEM "Pad",				IDM_PAD
    MENUITEM SEPARATOR
    MENUITEM "Always on top",	IDM_ALWAYS_ON_TOP
    POPUP "Language"
    BEGIN
      MENUITEM "English",		IDM_LANGUAGE_ENGLISH
      MENUITEM "Polish",		IDM_LANGUAGE_POLISH
      MENUITEM "Spanish",		IDM_LANGUAGE_SPANISH
      MENUITEM "Danish",		IDM_LANGUAGE_DANISH
      MENUITEM "Chinese",		IDM_LANGUAGE_CHINESE
      MENUITEM "Russian",		IDM_LANGUAGE_RUSSIAN
      MENUITEM "Swedish",		IDM_LANGUAGE_SWEDISH
      MENUITEM "Italian",		IDM_LANGUAGE_ITALIAN
      MENUITEM "German",		IDM_LANGUAGE_GERMAN
    END
    MENUITEM SEPARATOR
    MENUITEM "Close",			IDM_CLOSE_PROGRAM
  END
  POPUP "Edit"
  BEGIN
    MENUITEM "Undo",			IDM_EDIT_UNDO
    MENUITEM SEPARATOR
    MENUITEM "Cut",				IDM_EDIT_CUT
    MENUITEM "Copy",			IDM_EDIT_COPY
    MENUITEM "Paste",			IDM_EDIT_PASTE
    MENUITEM "Delete",			IDM_EDIT_DEL
    MENUITEM SEPARATOR
    MENUITEM "Copy result",		IDM_EDIT_COPY_RESULT
    MENUITEM "Copy both",		IDM_EDIT_COPY_BOTH
    MENUITEM "Paste formula",	IDM_EDIT_PASTE_FORMULA
    MENUITEM SEPARATOR
    MENUITEM "Select all",		IDM_EDIT_SELECT_ALL
    MENUITEM "Bracket",			IDM_EDIT_BRACKET
	MENUITEM "Swap",			IDM_EDIT_SWAP
  END
  POPUP "Help"
  BEGIN
    MENUITEM "Help",			IDM_HELP_HELP
    MENUITEM "Project page",	IDM_HELP_PROJECT_PAGE
    MENUITEM "Check update...",	IDM_HELP_CHECK_UPDATE
    MENUITEM SEPARATOR
    MENUITEM "About",			IDM_HELP_ABOUT
  END
END


IDR_MENU2 MENU DISCARDABLE 
BEGIN
    POPUP "File"
    BEGIN
//        MENUITEM "New",							MENUPAD_FILE_NEW
// temporarily this option is not available
        MENUITEM "Open...",				MENUPAD_FILE_OPEN
        MENUITEM "Save as...",			MENUPAD_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "Close",				MENUPAD_FILE_CLOSE
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Undo \tCtrl+Z",		MENUPAD_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Cut \tCtrl+X",		MENUPAD_EDIT_CUT
        MENUITEM "Copy \tCtrl+C",		MENUPAD_EDIT_COPY
        MENUITEM "Paste \tCtrl+V",		MENUPAD_EDIT_PASTE
        MENUITEM "Delete \tDel",		MENUPAD_EDIT_DEL
        MENUITEM SEPARATOR
        MENUITEM "Select all \tCtrl+A",	MENUPAD_EDIT_SELECTALL
    END
END


IDD_MAIN_DIALOG DIALOGEX 0, 0, 295, 189
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU | WS_THICKFRAME
CAPTION "TTCalc"
MENU 200
FONT 8, "Ms Shell Dlg"
BEGIN
    EDITTEXT        IDC_INPUT_EDIT,0,6,260,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_OUTPUT_EDIT,0,21,260,14,ES_AUTOHSCROLL | ES_READONLY
    CONTROL         "",IDC_TAB,"SysTabControl32",WS_GROUP | WS_TABSTOP,0,39,
                    292,123,WS_EX_CONTROLPARENT
END


IDD_DIALOG_ADD_VARIABLE DIALOG DISCARDABLE  0, 0, 358, 61
STYLE DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION "Add a new variable"
FONT 8, "Ms Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Ok",IDOK,291,10,50,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "Cancel",IDCANCEL,291,28,50,14,BS_CENTER | BS_VCENTER
    EDITTEXT        IDC_EDIT_VARIABLE_NAME,47,10,67,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_VARIABLE_VALUE,47,28,226,14,ES_AUTOHSCROLL
    LTEXT           "name:",IDC_STATIC_VARIABLE_NAME,7,12,38,8
    LTEXT           "value:",IDC_STATIC_VARIABLE_VALUE,7,30,38,8
END

IDD_DIALOG_ADD_FUNCTION DIALOG DISCARDABLE  0, 0, 370, 74
STYLE DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
FONT 8, "Ms Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Ok",IDOK,304,10,50,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "Cancel",IDCANCEL,304,27,50,14,BS_CENTER | BS_VCENTER
    EDITTEXT        IDC_EDIT_FUNCTION_NAME,55,10,67,14,ES_AUTOHSCROLL
    COMBOBOX        IDC_COMBO_FUNCTION_PARAM,55,29,67,130,CBS_DROPDOWNLIST | WS_TABSTOP
    EDITTEXT        IDC_EDIT_FUNCTION_VALUE,55,47,299,14,ES_AUTOHSCROLL
    LTEXT           "name:",IDC_STATIC_FUNCTION_NAME,7,12,46,8
    LTEXT           "value:",IDC_STATIC_FUNCTION_VALUE,7,49,46,8
    LTEXT           "param:",IDC_STATIC_FUNCTION_PARAM,7,30,46,8
END


IDD_DIALOG_STANDARD DIALOG DISCARDABLE  0, 0, 288, 107
STYLE DS_3DLOOK | DS_FIXEDSYS | WS_CHILD | WS_GROUP | WS_TABSTOP
FONT 8, "Ms Shell Dlg"
BEGIN
    PUSHBUTTON      "Clear",IDC_BUTTON_CLEAR,4,3,55,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "(",IDC_BUTTON_FIRST_BRACKET,62,3,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      ")",IDC_BUTTON_LAST_BRACKET,91,3,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "(...)",IDC_BUTTON_BRACKETS_ALL,4,20,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      ";",IDC_BUTTON_SEMICOLON,33,20,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "%",IDC_BUTTON_PERCENTAGE,62,20,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "^",IDC_BUTTON_POWER,91,20,26,14,BS_CENTER | BS_BOTTOM
    PUSHBUTTON      "7",IDC_BUTTON_PRESS_7,4,37,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "8",IDC_BUTTON_PRESS_8,33,37,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "9",IDC_BUTTON_PRESS_9,62,37,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "/",IDC_BUTTON_DIV,91,37,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "4",IDC_BUTTON_PRESS_4,4,54,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "5",IDC_BUTTON_PRESS_5,33,54,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "6",IDC_BUTTON_PRESS_6,62,54,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "*",IDC_BUTTON_MUL,91,54,26,14,BS_CENTER | BS_BOTTOM
    PUSHBUTTON      "1",IDC_BUTTON_PRESS_1,4,71,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "2",IDC_BUTTON_PRESS_2,33,71,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "3",IDC_BUTTON_PRESS_3,62,71,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "-",IDC_BUTTON_SUB,91,71,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "0",IDC_BUTTON_PRESS_0,4,88,55,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      ",",IDC_BUTTON_COMMA,62,88,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "+",IDC_BUTTON_ADD,91,88,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "sin",IDC_BUTTON_SIN,131,3,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "asin",IDC_BUTTON_ASIN,160,3,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "ln",IDC_BUTTON_LN,189,3,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "cos",IDC_BUTTON_COS,131,20,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "acos",IDC_BUTTON_ACOS,160,20,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "log",IDC_BUTTON_LOG,189,20,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "tan",IDC_BUTTON_TAN,131,37,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "atan",IDC_BUTTON_ATAN,160,37,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "exp",IDC_BUTTON_EXP,189,37,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "cot",IDC_BUTTON_COT,131,54,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "acot",IDC_BUTTON_ACOT,160,54,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "abs",IDC_BUTTON_ABS,189,54,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "int",IDC_BUTTON_INT,131,71,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "round",IDC_BUTTON_ROUND,160,71,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "mod",IDC_BUTTON_MOD,189,71,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "floor",IDC_BUTTON_FLOOR,131,88,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "ceil",IDC_BUTTON_CEIL,160,88,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "sgn",IDC_BUTTON_SGN,189,88,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "min",IDC_BUTTON_MIN,229,3,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "max",IDC_BUTTON_MAX,258,3,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "avg",IDC_BUTTON_AVG,229,20,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "sum",IDC_BUTTON_SUM,258,20,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "sqrt",IDC_BUTTON_SQRT,229,37,26,14, BS_CENTER | BS_VCENTER
    PUSHBUTTON      "root",IDC_BUTTON_ROOT,258,37,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "!",IDC_BUTTON_FACTORIAL,229,54,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "gamma",IDC_BUTTON_GAMMA,258,54,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "e",IDC_BUTTON_E,229,71,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "pi",IDC_BUTTON_PI,258,71,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "1/(...)",IDC_BUTTON_1DIV_BRACKETS_ALL,229,88,26,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "err",IDC_BUTTON_ERROR,258,88,26,14,BS_CENTER | BS_VCENTER
END


IDD_DIALOG_VARIABLES DIALOG 0, 0, 288, 107
STYLE DS_3DLOOK |DS_FIXEDSYS |DS_SETFONT |WS_CHILD | WS_TABSTOP |WS_GROUP
CAPTION "tab2"
FONT 8, "Ms Shell Dlg"
BEGIN
  CONTROL "Add",IDC_BUTTON_ADD_VARIABLE,"BUTTON",BS_PUSHBUTTON |BS_VCENTER |BS_CENTER |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,3,3,50,14
  CONTROL "Edit",IDC_BUTTON_EDIT_VARIABLE,"BUTTON",BS_PUSHBUTTON |BS_VCENTER |BS_CENTER |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,3,21,50,14
  CONTROL "Delete",IDC_BUTTON_DELETE_VARIABLE,"BUTTON",BS_PUSHBUTTON |BS_VCENTER |BS_CENTER |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,3,39,50,14
  CONTROL "",IDC_VARIABLES_LIST,"SysListView32",LVS_REPORT |LVS_SHOWSELALWAYS |LVS_SORTASCENDING |LVS_ALIGNLEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,57,3,223,85
END

IDD_DIALOG_FUNCTIONS DIALOG 0, 0, 288, 107
STYLE DS_3DLOOK |DS_FIXEDSYS |DS_SETFONT |WS_CHILD | WS_TABSTOP |WS_GROUP
CAPTION "tab3"
FONT 8, "Ms Shell Dlg"
BEGIN
  CONTROL "Add",IDC_BUTTON_ADD_FUNCTION,"BUTTON",BS_PUSHBUTTON |BS_VCENTER |BS_CENTER |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,3,3,50,14
  CONTROL "Edit",IDC_BUTTON_EDIT_FUNCTION,"BUTTON",BS_PUSHBUTTON |BS_VCENTER |BS_CENTER |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,3,21,50,14
  CONTROL "Delete",IDC_BUTTON_DELETE_FUNCTION,"BUTTON",BS_PUSHBUTTON |BS_VCENTER |BS_CENTER |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,3,39,50,14
  CONTROL "",IDC_FUNCTIONS_LIST,"SysListView32",LVS_REPORT |LVS_SHOWSELALWAYS |LVS_SORTASCENDING |LVS_ALIGNLEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,57,3,223,85
END

#ifndef TTCALC_PORTABLE

IDD_DIALOG_PRECISION DIALOG DISCARDABLE  0, 0, 288, 107
STYLE DS_3DLOOK | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_GROUP | 
    WS_TABSTOP
CAPTION "tab4"
FONT 8, "Ms Shell Dlg"
BEGIN
    CONTROL         "precision 1",IDC_RADIO_PRECISION_1,"Button",
                    BS_AUTORADIOBUTTON | BS_LEFT | WS_GROUP | WS_TABSTOP,21,
                    11,256,10
    CONTROL         "precision 2",IDC_RADIO_PRECISION_2,"Button",
                    BS_AUTORADIOBUTTON | BS_LEFT | WS_TABSTOP,21,42,256,10
    CONTROL         "precision 3",IDC_RADIO_PRECISION_3,"Button",
                    BS_AUTORADIOBUTTON | BS_LEFT | WS_TABSTOP,21,73,256,10
    LTEXT           "info 1",IDC_LABEL_PRECISION_1_INFO,34,24,243,8,NOT 
                    WS_GROUP
    LTEXT           "info 2",IDC_LABEL_PRECISION_2_INFO,34,55,243,8,NOT 
                    WS_GROUP
    LTEXT           "info 3",IDC_LABEL_PRECISION_3_INFO,34,85,243,8,NOT 
                    WS_GROUP
END

#endif


IDD_DIALOG_DISPLAY DIALOG DISCARDABLE  0, 0, 288, 107
STYLE DS_3DLOOK | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_GROUP | 
    WS_TABSTOP
CAPTION "tab5"
FONT 8, "Ms Shell Dlg"
BEGIN
    CONTROL         "Input base",IDC_LABEL_DISPLAY_INPUT,"Static",
                    SS_LEFTNOWORDWRAP | WS_GROUP,8,4,43,8
    CONTROL         "Output base",IDC_LABEL_DISPLAY_OUTPUT,"Static",
                    SS_LEFTNOWORDWRAP | WS_GROUP,8,18,43,8
    CONTROL         "Rounding",IDC_LABEL_DISPLAY_ROUNDING,"Static",
                    SS_LEFTNOWORDWRAP | WS_GROUP,8,32,43,8
    CONTROL         "Grouping",IDC_LABEL_DISPLAY_GROUPING,"Static",SS_LEFTNOWORDWRAP | 
                    WS_GROUP,8,46,43,8
    CONTROL         "Input decimal point",IDC_LABEL_INPUT_DECIMAL_POINT,
                    "Static",SS_LEFTNOWORDWRAP | WS_GROUP,143,4,87,8
    CONTROL         "Output decimal point",IDC_LABEL_OUTPUT_DECIMAL_POINT,"Static",
                    SS_LEFTNOWORDWRAP | WS_GROUP,143,18,87,8
    CONTROL         "Parameters separated by",IDC_LABEL_PARAM_SEPARATE,
                    "Static",SS_LEFTNOWORDWRAP | WS_GROUP,143,32,87,8
    CONTROL         "trigonometric functions",IDC_LABEL_DISPLAY_DEG_RAD_GRAD,
                    "Static",SS_LEFTNOWORDWRAP | WS_GROUP,143,46,87,8
    COMBOBOX        IDC_COMBO_DISPLAY_INPUT,61,2,59,200,CBS_DROPDOWNLIST | 
                    WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_COMBO_DISPLAY_OUTPUT,61,16,59,200,CBS_DROPDOWNLIST | 
                    WS_TABSTOP
    COMBOBOX        IDC_COMBO_DISPLAY_ROUNDING,61,30,59,200,CBS_DROPDOWNLIST | 
                    WS_TABSTOP
    COMBOBOX        IDC_COMBO_DISPLAY_GROUPING,61,44,59,100,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_DISPLAY_GROUPING_DIGITS,61,58,59,100,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_INPUT_DECIMAL_POINT,234,2,49,56,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_OUTPUT_DECIMAL_POINT,234,16,49,62,CBS_DROPDOWNLIST | 
                    WS_TABSTOP
    COMBOBOX        IDC_COMBO_PARAM_SEPARATE,234,30,49,54,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_DEG_RAD_GRAD,234,44,49,53,CBS_DROPDOWNLIST | 
                    WS_TABSTOP
    CONTROL         "remove trailing zeroes",IDC_CHECK_REMOVE_ZEROES,"Button",
                    BS_AUTOCHECKBOX | BS_LEFTTEXT | BS_LEFT | WS_TABSTOP,142,
                    60,140,10
    CONTROL         "Always",IDC_RADIO_DISPLAY_ALWAYS_SCIENTIFIC,"Button",
                    BS_AUTORADIOBUTTON | BS_LEFT | WS_GROUP | WS_TABSTOP,14,
                    87,54,10
    CONTROL         "When the exponent is greater than:",
                    IDC_RADIO_DISPLAY_NOT_ALWAYS_SCIENTIFIC,"Button",
                    BS_AUTORADIOBUTTON | BS_LEFT,90,87,151,10
    EDITTEXT        IDC_EDIT_DISPLAY_WHEN_SCIENTIFIC,245,84,29,14,ES_NUMBER | 
                    WS_GROUP
    CONTROL         "",IDC_UPDOWN_DISPLAY_WHEN_SCIENTIFIC,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,276,84,
                    11,14
    GROUPBOX        "Print scientific value",IDC_LABEL_DISPLAY_SCIENTIFIC,8,76,275,26
END


#ifdef TTCALC_CONVERT

IDD_DIALOG_CONVERT DIALOG DISCARDABLE  0, 0, 288, 107
STYLE DS_3DLOOK | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_GROUP | 
    WS_TABSTOP
CAPTION "tab6"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "Conversion type",IDC_STATIC_UNIT_CONVERSION,3,2,55,8
    LTEXT           "Input",IDC_STATIC_UNIT_INPUT,60,2,73,8
    LTEXT           "Output",IDC_STATIC_UNIT_OUTPUT,162,2,80,8
    CONTROL         "List1",IDC_LIST_UNIT_TYPE,"SysListView32",LVS_REPORT | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | 
                    WS_BORDER | WS_TABSTOP,3,12,50,56
    CONTROL         "List2a",IDC_LIST_UNIT_INPUT1,"SysListView32",LVS_REPORT | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | 
                    WS_BORDER | WS_TABSTOP,60,12,26,56
    CONTROL         "List2b",IDC_LIST_UNIT_INPUT2,"SysListView32",LVS_REPORT | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | 
                    WS_BORDER | WS_TABSTOP,90,12,65,56
    CONTROL         "List3a",IDC_LIST_UNIT_OUTPUT1,"SysListView32",
                    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | 
                    LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP,161,12,26,56
    CONTROL         "List3b",IDC_LIST_UNIT_OUTPUT2,"SysListView32",
                    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | 
                    LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP,190,12,65,56
    EDITTEXT        IDC_EDIT_OUTPUT_INFO,3,72,152,14,ES_AUTOHSCROLL | 
                    ES_READONLY
    CONTROL         "dynamically output",IDC_COMBO_DYNAMIC_OUTPUT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,162,74,88,10
END

#endif

#ifndef TTCALC_PORTABLE
IDD_ABOUT_DIALOG DIALOG DISCARDABLE  0, 0, 349, 284
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         1201,0,"Static",SS_BITMAP | SS_REALSIZEIMAGE,3,3,115,277
    EDITTEXT        IDC_ABOUT_TEXT,128,11,215,243,ES_MULTILINE | ES_READONLY | 
                    NOT WS_BORDER | NOT WS_TABSTOP
    DEFPUSHBUTTON   "Close",IDOK,191,259,86,14
END
#else
IDD_ABOUT_DIALOG DIALOG DISCARDABLE  0, 0, 268, 362
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_ABOUT_TEXT,16,18,234,315,ES_MULTILINE | ES_READONLY | 
                    NOT WS_BORDER | NOT WS_TABSTOP
    DEFPUSHBUTTON   "Close",IDOK,90,339,86,14
END
#endif

IDD_UPDATE_DIALOG DIALOG DISCARDABLE  0, 0, 409, 87
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Check for update"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Checking for update",IDC_UPDATE_INFO1,7,15,394,10
    CONTROL         "Progress1",IDC_PROGRESS,"msctls_progress32",WS_BORDER,7,
                    38,395,14
    DEFPUSHBUTTON   "Next",IDC_BUTTON_NEXT,279,65,60,14
    PUSHBUTTON      "Cancel",IDC_BUTTON_CANCEL,342,65,60,14
    CTEXT           "url",IDC_UPDATE_INFO2,7,26,394,8
    CONTROL         "Always check for the update on sturtup",
                    IDC_CHECK_UPDATE_STURTUP,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,7,67,269,10
END

#ifndef TTCALC_PORTABLE
IDB_BITMAP_ABOUT BITMAP "..\\res\\aboutbox.bmp"
#endif
